<div class="container">
  <h2>Security System</h2>

  <div class="row homeSecRow">
    
    <div class="col">
      <div class="btn-group btn-group-lg btn-group-toggle tempControls" data-toggle="buttons">
  
            <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="armed" autocomplete="off" checked> Armed
            </label>
            <label class="btn btn-outline-secondary active">
                <input type="radio" name="options" id="away" autocomplete="off"> Away
            </label>
            <label class="btn btn-outline-secondary">
                <input type="radio" name="options" id="off" autocomplete="off"> Off
            </label>
      </div>
    </div>
  </div>

  <div class="row homeSecRow">
      
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Doorbell Camera</h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      
      <div class="col-6">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/200" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Backdoor Camera</h5>
            <p class="card-text"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>

  </div>

  <div class="row homeSecRow">
    <div class="col-12">
    <div class="list-group">
      <button class="list-group-item list-group-item-action active">
        Motion Sensor
      </button>
      <button class="list-group-item list-group-item-action">Smoke Detectors</button>
      <button class="list-group-item list-group-item-action">Carbon Monoxide Sensor</button>
      <button class="list-group-item list-group-item-action">Account Info</button>
    </div>
    </div>
  </div>
  
  
</div>
