<div class="row weatherRow">
    <div class="col-6">
        <div id="currentTemp">
            75&deg;
        </div>
    </div>
    <div class="col fiveDayForecast">
        <h2>Five Day Forecast</h2>
        <div class="fiveDayList">
            <div class="row">
                <div class="col">Mon</div>
                <div class="col fiveDayTemp">77&deg;</div>
            </div>
            <div class="row">
                <div class="col">Tue</div>
                <div class="col fiveDayTemp">67&deg;</div>
            </div>
            <div class="row">
                <div class="col">Wed</div>
                <div class="col fiveDayTemp">71&deg;</div>
            </div>
            <div class="row">
                <div class="col">Thr</div>
                <div class="col fiveDayTemp">72&deg;</div>
            </div>
            <div class="row">
                <div class="col">Fri</div>
                <div class="col fiveDayTemp">71&deg;</div>
            </div>
        </div>
    </div>
</div>