<div class="container">
    <div class="row appButtons">
        <div class="col-xs-4">
            <button class="btn btn-outline-primary btn-circle btn-xl mr-3" 
            (click)="gotoPage('ac')">A/C</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-outline-primary btn-circle btn-xl mr-3"
            (click)="gotoPage('security')">Security</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-outline-primary btn-circle btn-xl mr-3"
            (click)="gotoPage('media')">Media</button>
        </div>
    </div>
</div>